<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- The Log4j Configuration -->
<!-- $Id: log4j.xml,v 1.10 2007/05/18 14:32:09 msurtani Exp $ -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   <!-- The list of appenders -->
   <!-- The rolling file appender -->
   <appender name="FILE" class="org.radargun.utils.PerNodeRollingFileAppender">
      <param name="File" value="radargun.log"/>
      <param name="Append" value="false"/>
      <param name="Threshold" value="TRACE"/>
      <param name="MaxFileSize" value="100MB"/>
      <param name="MaxBackupIndex" value="3"/>
      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d [%t] %-5p [%c] %m%n"/>
         <!--param name="ConversionPattern" valye="%p %t %c - %m%n"/-->
      </layout>
   </appender>

   <!-- The console appender -->
   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="TRACE"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <!-- disabled by default.  Useful for long-running clustered benchmarks
   
   <appender name="EMAIL" class="org.radargun.utils.SMTPAppender">
      <param name="Threshold" value="WARN"/>
      <param name="BufferSize" value="1"/>
      <param name="From" value="notify.by.email@gmail.com"/>
      <param name="From" value="notify.by.email@gmail.com"/>
      <param name="To" value="mircea.markus@jboss.com"/>
      <param name="SMTPHost" value="smtp.gmail.com"/>
      <param name="SMTPPort" value="465"/>
      <param name="Subject" value="Cache Bench notification"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>
   -->

   <!-- The list of Categories-->
   <category name="ClusterConfigurationCheck">
      <priority value="INFO"/>
   </category>

   <category name="CacheException">
      <priority value="TRACE"/>
     <!--
      <appender-ref ref="CONSOLE"/>
      -->
   </category>

   <category name="org.apache">
      <priority value="WARN"/>
   </category>

   <category name="org.radargun">
      <priority value="INFO"/>
   </category>

   <category name="org.radargun.reporting">
      <priority value="WARN"/>
   </category>

   <category name="net.sf.ehcache">
      <priority value="WARN"/>
   </category>

   <category name="com.tc">
      <priority value="WARN"/>
   </category>

   <category name="org.tc">
      <priority value="WARN"/>
   </category>

   <category name="org.jboss.cache">
      <priority value="WARN"/>
   </category>

   <category name="org.jgroups">
      <priority value="WARN"/>
   </category>

  <category name="UDP">
    <priority value="TRACE"/>
  </category>

  <category name="FD_SOCK">
    <priority value="TRACE"/>
  </category>

   <category name="JoinTask">
      <priority value="TRACE"/>
   </category>

   <category name="org.infinispan">
      <priority value="INFO"/>
   </category>

   <category name="com.arjuna.ats.arjuna">
      <priority value="INFO"/>
   </category>

   <!-- Here goes the root -->
   <root>
      <priority value="TRACE"/>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>
