<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.radargun.logging">
   <Appenders>
      <RollingFile name="FILE" createOnDemand="true"
                   fileName="radargun.log"
                   filePattern="radargun-%i-%d{yyyy-MM-dd}.log">

         <Policies>
            <OnStartupTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="1000 MB" />
            <TimeBasedTriggeringPolicy />
         </Policies>
         <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p (%t) [%c] %m%throwable%n"/>
      </RollingFile>
      <Console name="CONSOLE" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%c] (%t) %m%n"/>
      </Console>
   </Appenders>
   <Loggers>
      <Logger name="org.apache" level="WARN" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Logger name="org.radargun.reporting" level="WARN" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Logger name="org.radargun.reporting.AbstractReporter" level="INFO" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Logger name="com.arjuna.ats.arjuna" level="WARN" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Root level="INFO">
         <AppenderRef ref="CONSOLE"/>
         <AppenderRef ref="FILE" />
      </Root>
   </Loggers>
</Configuration>
