<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.radargun.logging">
   <Appenders>
      <PerNodeRollingRandomAccessFile
         name="FILE"
         fileName="radargun.log"
         filePattern="radargun-%i.log"
         append="false"
         immediateFlush="false"
         advertise="false">
         <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%c] (%t) %m%n"/>
         <Policies>
            <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="3"/>
      </PerNodeRollingRandomAccessFile>
      <Console name="CONSOLE" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%c] (%t) %m%n"/>
      </Console>
   </Appenders>
   <Loggers>
      <Logger name="org.apache" level="WARN" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Logger name="org.radargun.reporting" level="WARN" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Logger name="org.radargun.reporting.AbstractReporter" level="INFO" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Logger name="com.arjuna.ats.arjuna" level="WARN" additivity="false">
         <AppenderRef ref="CONSOLE"/>
      </Logger>

      <Root level="INFO">
         <AppenderRef ref="CONSOLE"/>
         <AppenderRef ref="FILE" />
      </Root>
   </Loggers>
</Configuration>
